.wrapper{
    width: 380px;
    height: 120px;
    border-radius:10px;
    padding: 20px;
}
.header{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 15px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin:0 30px ;
}
.buttons__cancel,.buttons__confirm{
    font-weight: 700;
    color: white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    border:none;
    min-width: 90px;
}
.buttons__confirm{
    background-color:rgb(22,102 ,221)
}
.buttons__cancel{
    background-color:rgb(235,87,87)
}